<div ng-controller="PlaylistsCtrl as vm">
  <div class="row">
    <div class="col">
      <playlists-list
        playlists="vm.playlists"
        selected="vm.selected"
        on-select="vm.select($event)"
      ></playlists-list>

      <input
        type="button"
        value="Create New"
        ng-click="vm.newDraft()"
        class="btn btn-info float-right mt-3"
      />
      
    </div>
    <div class="col">
      <!-- Details: -->
      <playlist-details
        ng-if="vm.selected && vm.mode === 'show' "
        playlist="vm.selected"
        on-edit="vm.edit()"
      >
      </playlist-details>

      <!-- Form: -->
      <playlist-form
        ng-if="vm.selected && vm.mode === 'edit' "
        playlist="vm.selected"
        on-cancel="vm.cancel()"
        on-save="vm.save($event)"
      >
      </playlist-form>

      <p ng-if="!vm.selected">
        Please select playlist
      </p>
    </div>
  </div>
</div>
