<!-- <pre>{{$ctrl.playlistForm.name | json}}</pre> -->

<form name="$ctrl.playlistForm" ng-submit="$ctrl.save()">
  <!-- <div ng-form="subForm"></div> -->
  <div class="form-group">
    <label>Name:</label>
    <input
      type="text"
      class="form-control"
      required
      censor="placki"
      minlength="3"
      ng-model="$ctrl.draft.name"
      name="name"
    />
    {{$ctrl.draft.name}}
    <p ng-if="$ctrl.playlistForm.name.$pending">Please wait...</p>

    <!-- div[ng-messages]>div[ng-message]*3 -->
    <div
      ng-messages="$ctrl.playlistForm.name.$error"
      ng-if="$ctrl.playlistForm.name.$touched 
            || $ctrl.playlistForm.name.$dirty 
            || $ctrl.playlistForm.$submitted"
    >
      <div ng-message="required">Name is required</div>
      <div ng-message="minlength">Name is too short</div>
      <div ng-message="censor">Name is not allowed!</div>
    </div>

    <!-- <div
      ng-if="$ctrl.playlistForm.name.$touched 
            || $ctrl.playlistForm.name.$dirty 
            || $ctrl.playlistForm.$submitted"
    >
      <p ng-if="$ctrl.playlistForm.name.$error.required">Name is required</p>
      <p ng-if="$ctrl.playlistForm.name.$error.minlength">Name is too short</p>
      <p ng-if="$ctrl.playlistForm.name.$error.censor">Name is not allowed!</p>
    </div> -->
  </div>

  <div class="form-group">
    <label>Favourite:</label>
    <input type="checkbox" ng-model="$ctrl.draft.favorite" name="favorite" />
  </div>

  <div class="form-group">
    <label>Color:</label>
    <input type="color" ng-model="$ctrl.draft.color" name="color" />
  </div>

  <input type="button" value="Cancel" ng-click="$ctrl.onCancel()" />

  <input type="submit" value="Save" />
</form>
