<dl ng-prop-title="playlist.name">
  <dt>Name:</dt>
  <dd class="playlist-name">{{ playlist.name }}</dd>

  <dt>Favourite:</dt>
  <dd>
    {{ playlist.favorite? 'Yes':'No' }}
  </dd>

  <dt>Color:</dt>
  <dd
    ng-style="{
      color: playlist.color,
      'background-color': playlist.color,
      backgroundColor: playlist.color
    }"
  >
    {{ playlist.color }}
  </dd>
</dl>
<input type="button" value="Edit" ng-click="onEdit()" />
