<div class="row">
  <div class="col">
    <div>
      <div class="row">
        <div class="col">
          <search-form query="$ctrl.query" on-search=" $ctrl.search($event) ">
          </search-form>
        </div>
      </div>

      <div class="row">
        <div class="col">
          {{$ctrl.message}}

          <search-results results="$ctrl.results"> </search-results>
        </div>
      </div>
    </div>
  </div>
</div>
