<!-- https://getbootstrap.com/docs/4.4/components/input-group/#button-addons -->

<!-- <pre> {{$ctrl.searchForm.queryField | json }} </pre> -->

<style>
  .ng-submitted .ng-invalid,
  .input-group .ng-touched.ng-invalid,
  .input-group .ng-dirty.ng-invalid {
    border: 2px solid red;
  }
</style>

<form name="$ctrl.searchForm" ng-submit="$ctrl.search()" novalidate>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      ng-on-keyup="$ctrl.handleKey($event)"
      ng-model="$ctrl.query"
      name="queryField"
      required
      minlength="3"
      pattern="[a-zA-Z0-9]+"
    />

    <div class="input-group-append">
      <button class="btn btn-outline-secondary">
        Search
      </button>
    </div>
  </div>
  <div
    ng-if="$ctrl.searchForm.queryField.$touched || $ctrl.searchForm.queryField.$dirty || $ctrl.searchForm.$submitted"
  >
    <p ng-if="$ctrl.searchForm.queryField.$error.required">
      Query cannot be empty
    </p>
    <p ng-if="$ctrl.searchForm.queryField.$error.minlength">Query too short</p>
    <p ng-if="$ctrl.searchForm.queryField.$error.pattern">
      Query has to be alphanumeric
    </p>
  </div>
</form>
