<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Angular App - {{ 1 + 2 }}</title>
  </head>
  <body ng-controller="AppCtrl">
    <!-- https://getbootstrap.com/docs/4.4/components/navbar/#nav -->

    <nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
      <div class="container">
        <a class="navbar-brand" href="#">MusicApp</a>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item" ui-sref-active="active placki">
              <a class="nav-link" ui-sref="playlists" >Playlists</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" ui-sref="search" ui-sref-active="active">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ui-sref="about" ui-sref-active="active">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ui-sref="users" ui-sref-active="active">Users</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          
          <ui-view></ui-view>

        </div>
      </div>
    </div>
  </body>
</html>

<!-- <div style="position: absolute; right:20px; z-index:100">
    <div
      class="alert alert-info"
      ng-repeat="notification in notifications"
    >
      {{notification.message}}
    </div>
  </div> -->
